package components

templ Footer(year string) {
	<footer class="bg-primary border-t border-primary/30 dark:border-primary/50 py-4 mt-8 transition-colors">
	    <div class="container mx-auto px-4 text-center text-sm">
			<p>
				&copy; { year } GoApp. All rights reserved.
			</p>
		</div>
	</footer>
}
