package layouts

import (
	"github.com/__username__/go_boilerplate/internal/models"
	"github.com/__username__/go_boilerplate/views/components"
	"strconv"
)

// Base layout for unauthenticated pages
templ Base(site models.Site) {
	@CoreHTML(site) {
		<div class="min-h-screen flex flex-col">
			@components.Header(site)
			{ children... }
			@components.Footer(site.AppName, strconv.Itoa(site.Year))
		</div>
	}
}
